<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>367184448213-97bn35sqi19378f3u3o89eu6avcace9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.367184448213-97bn35sqi19378f3u3o89eu6avcace9p</string>
	<key>API_KEY</key>
	<string>AIzaSyAQOHnRf4d96Zj9UpQX5l73rcc8nEuamvc</string>
	<key>GCM_SENDER_ID</key>
	<string>367184448213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AntonLarchenko.FirebaseInstagramClone</string>
	<key>PROJECT_ID</key>
	<string>appfirebase-35b92</string>
	<key>STORAGE_BUCKET</key>
	<string>appfirebase-35b92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:367184448213:ios:8ddde3bf77979d6803705c</string>
	<key>DATABASE_URL</key>
	<string>https://appfirebase-35b92.firebaseio.com</string>
</dict>
</plist>